* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    font-size: 20px;
}

.navbar .username-text {
    margin-left: 5px;
}

.nav-search {
    display: grid;
    grid-template-columns: 1fr auto;
}

.form-container {
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#previewAvatarImage {
    margin: 10px auto;
}

.post-list-container {
    display: grid;
    grid-gap: 20px;
}

.post-container {
    margin: 0 auto;
    width: 500px;
}

.post-title a {
    color: #121212;
    transition: all 0.2s ease;
}

.post-title a:hover {
    text-decoration: none;
}

.post-title a::after {
    content: " »";
    opacity: 0;
    transition: all 0.1s ease-in;
}

.post-title a:hover::after {
    opacity: 1;
    transition: all 0.1s ease-in;
}

.post-content img {
    max-width: 100%;
}

.post-content table, .post-content th, .post-content td {
    padding: 6px 13px;
    border: 1px solid #c8ccd0;
    border-spacing: 0;
    border-collapse: collapse;
}

.post-content ul {
    list-style-position: inside;
}

.post-author-thumbnail {
    padding: 4px;
}

.post-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
    margin-top: 20px;
}
